<?xml version="1.0"?>

<launch>
  <arg name="world" default="worlds/empty.world"/>
  <!--<arg name="model" default="JVRC_R4/JVRC_R4.sdf"/>-->
  
  <arg name="gui" default="true"/>
  <arg name="args" default="--verbose -u"/>
  
  <param name="/use_sim_time" value="true" />

  <node name="gazebo" pkg="gazebo_ros" type="gzserver" args="$(arg world) $(arg args)" respawn="false" output="screen"/>
  
  <!--<node name="jvrc_model_spawner" pkg="gazebo_ros" type="spawn_model" args="-file $(find jvrc_task_models)/$(arg model) -sdf -x -3.5 -y -2 -z 0 -model jvrc_task" respawn="false" output="screen"/>
  -->
    <!-- start gui -->
  <group if="$(arg gui)">
    <node name="gazebo_gui" pkg="gazebo_ros" type="gzclient" respawn="false" output="screen"/>
  </group>
  
  <include file="$(find hector_centaur_gazebo)/launch/spawn_centaur_default_with_controllers.launch" />
  
  <include file="$(find hector_centaur_onboard)/launch/onboard_reduced.launch" />


</launch>