<?xml version="1.0"?>

<launch>
  
  <include file="$(find hector_nist_arena_worlds)/launch/exploration_eval_arena_2_door.launch">
     <arg name="gazebo_args" value="-u"/>
   </include>   

  
  <include file="$(find hector_centaur_gazebo)/launch/spawn_centaur_default_with_controllers.launch" />
  
   <include file="$(find hector_centaur_onboard)/launch/onboard_reduced.launch" />
</launch>

